<form (submit)="onCakeCreate()">
  <section >
      <h1>{{title}}</h1>
      <p>Name</p>
      <input type="text" name="cakeCreate.userName" [(ngModel)]="cakeCreate.userName"><br>
      <p>Cake Image</p>
      <select name="cakeCreate.cakeImg" [(ngModel)]="cakeCreate.cakeImg">
          <option value="../assets/img/chocCake.jpg">Queque de Chocolate</option>
          <option value="../assets/img/lemonCake.jpg">Queque de Limon</option>
          <option value="../assets/img/strawBerryCake.jpg">Queque de Frutilla</option>
        </select><br>
      <p><input type="submit" value="Send"></p>
  </section>
  </form>
