<br><br>
<main class="container-0">
  <section class="container-1">
    <app-cake-create></app-cake-create>
    <article class="listOfCakes" >
      <div class="container-cake" *ngFor="let item of listOfCakes" >
        <img class="cakeImg" src="{{item.cakeImg}}" alt="cake_img">
        <ul>
          <li>Name: {{item.userName}}</li> <br>
          <li>Ranking: {{item.stars}} stars</li><br>
          <li>Comment: {{item.comment}}</li><br>
          <button (click)="showCake(item)">Details</button><br>
        </ul>
      </div>
    </article>
  </section>
  <article class="container-2">
    <app-cake-details *ngIf="selectedCake" [cakeToShow]="selectedCake"></app-cake-details>
  </article>
</main>

<router-outlet></router-outlet>
