<br><br>
<main>
  <article class="primeraSeccion">
    <app-cake-create></app-cake-create>

      <section class="listProduct" >
        <div *ngFor="let item of listOfCakes">
            <table class="tblProducto">
              <tr>
                <td rowspan="4" align="center" width="30%"><img class="imgList" src="{{item.cakeImg}}" alt=""></td>
              </tr>
              <tr>
                  <td><b>Usuario</b></td>
                  <td colspan="2">:{{item.userName}}</td>
              </tr>
              <tr>
                <td><b>Calificación</b></td>
                <td colspan="2">:{{item.stars}} estrellas</td>
              </tr>
              <tr>
                <td><b>Comentario</b></td>
                <td colspan="2">:{{item.comment}}</td>
              </tr>
              <tr>
                <td colspan="3" align="right"> <button (click)="showCake(item)">Show</button></td>
              </tr>
            </table>
        </div>
      </section>
  </article>
  <article>
    <app-cake-details *ngIf="selectedCake" [cakeToShow]="selectedCake"></app-cake-details>
  </article>
</main>

<router-outlet></router-outlet>
